<div class="registration-form">
  <form [formGroup]="userForm">
      <h3 class="text-center mb-5"> Editar dados </h3>

      <div class="form-group mb-3">
          <input type="text" formControlName="name" class="form-control item" id="username" placeholder="Nome"
          [class.is-invalid]="userForm.get('name')?.errors && userForm.get('name')?.touched">
          <div class="invalid-feedback input-invalid"> Preencha o nome corretamente </div>
      </div>

      <div class="form-group mb-3">
          <input type="text" formControlName="email" class="form-control item" id="email" placeholder="E-mail"
          [class.is-invalid]="userForm.get('email')?.errors && userForm.get('email')?.touched">
          <div class="invalid-feedback input-invalid"> Preencha o E-mail corretamente </div>
      </div>

      <div class="form-group mt-4">
        <button type="button" (click)="editUser()" [disabled]="!userForm.valid" class=" form-control item btn btn-info">
          Salvar alterações
        </button>
    </div>
  </form>
</div>
